body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-bar{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}


#header{
    background-color: black;
    color: white;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    
}

#hero_div{
    width: 100%;
    position:relative;
  width:100%;
  /* max-width:1200px; */
  height:100%;
  /* min-height:320px */
}

#hero_img{
    width: 100%;
    height: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 500px) {
    .centered {
      font-size: 2em;
    }
  }

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    flex-wrap: wrap;
}

.container_div{
    padding: 1%;
    margin: auto;
    border-bottom: 1px solid gray;
}

.img_div{
    width: 20%;
}

#month_yr{
    border: 1px solid gray;
    /* margin-left: 50%; */
    /* margin: 1%; */
    /* margin: auto; */
    margin-top: 100px;
    padding: 5px;
    background-color: rgb(242, 241, 241);

}


#home_button{
    flex: flex-start;
}

.nav-link{
    color: white;
    flex-direction: row;
    display: inline-flex;
    
}

.card{
    /* border: 0px; */
}

#bottom-arits{
    margin-bottom: 1em;
}

.btn{
    color: white;
    border-radius: 0;
    border-color: gray;
}

.container {  
    width: 100%;
    display: grid;
    background-color: black;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". placeholder title-center title-right"
      "map-img body-icons-1 t4 t8"
      "map-img body-icons-2 t5 t9"
      "map-img body-icons-3 t6 t10"
      ". . t7 t11";
  }
  
  .title-center { grid-area: title-center; }
  
  .title-right { grid-area: title-right; }
  
  .map-img { grid-area: map-img; }
  
  .body-icons-1 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". t1 t1"
      ". t1 t1"
      ". t1 t1";
    grid-area: body-icons-1;
  }
  
  .t1 { grid-area: t1; }
  
  .body-icons-2 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". t2 t2"
      ". t2 t2"
      ". t2 t2";
    grid-area: body-icons-2;
  }
  
  .t2 { grid-area: t2; }
  
  .body-icons-3 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". t3 t3"
      ". t3 t3"
      ". t3 t3";
    grid-area: body-icons-3;
  }
  
  .t3 { grid-area: t3; }
  
  .t4 { grid-area: t4; }
  
  .t5 { grid-area: t5; }
  
  .t6 { grid-area: t6; }
  
  .t7 { grid-area: t7; }
  
  .t8 { grid-area: t8; }
  
  .t9 { grid-area: t9; }
  
  .t10 { grid-area: t10; }
  
  .t11 { grid-area: t11; }
  
  .placeholder {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". title-left title-left"
      ". title-left title-left"
      ". title-left title-left";
    grid-area: placeholder;
  }
  
  .title-left { grid-area: title-left; }
  

  .footer-title{
    font-size: xx-large;
  }
  
  .body-icons{
    display: flex;
    justify-content: flex-start;
  }

  .title-left{
    display: flex;
    justify-content: flex-start;
  }

  .icons{
    margin-right: 1em;
    color: goldenrod;
  }

  .map-img{
    width: 40%;
    margin-right: 4em;
  }

